<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ryan.blog.docs</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/chenyuanxin/Library/LaunchAgents/ryan-blog-start.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/chenyuanxin/Desktop/cache/front-end-self-study</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/chenyuanxin/Desktop/cache/front-end-self-study/logs/ryan-blog.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/chenyuanxin/Desktop/cache/front-end-self-study/logs/ryan-blog.error.log</string>
</dict>
</plist>
